{% extends 'inicio.html' %}

{%load static%}

{% block Insercion %}

    <p>En proceso de búsqueda de las sugerencias con nombre: {{nombre}}</p>

        
    {% if nombre %}

        <ul>

            
            {% for i in sugerencia %}

                <li>
                    {{i.nombre}} {{i.apellido}}-{{i.sugerencia}}
                </li>
                
            {% endfor %}
                

        </ul>
        
    {% else %}

        <p>No hubo coincidencias</p>

    {% endif %}

{% endblock Insercion %}