{% extends 'inicio.html' %}

{%load static%}

{% block Insercion %}

    <p>En proceso de búsqueda de los colaboradores inscritos al programa como: {{negocio}}</p>

    
    {% if negocio %}

        <ul>

            
            {% for i in colaborador %}

            <li>
                {{i.nombre}} {{i.apellido}} - {{i.negocio}}
            </li>
            
             {% endfor %}
                

        </ul>
        
    {% else %}

    <p>No hubo coincidencias</p>

    {% endif %}
        

            

{% endblock Insercion %}