{% extends 'inicio.html' %}

{%load static%}

{% block Insercion %}

    <p>En proceso de búsqueda de los clientes inscritos: {{actividad}}</p>

    
    {% if actividad %}

        <ul>

            
            {% for cliente in actividad %}

                <li>
                    {{cliente.nombre}} {{cliente.apellido}} - {{cliente.actividad}}
                </li>
                
            {% endfor %}
                

        </ul>
            
    {% else %}

        <p>No hubo coincidencias</p>

    {% endif %}
        

            

{% endblock Insercion %}